@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 33% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 216 88% 53%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 275 87% 33%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 216 88% 53%;
    --radius: 0.5rem;
    --chart-1: 216 88% 53%;
    --chart-2: 275 87% 33%;
    --chart-3: 160 60% 45%;
    --chart-4: 30 80% 55%;
    --chart-5: 262 72% 66%;

    --chart-shopee: 15 90% 55%;
    --chart-tokopedia: 100 55% 50%;
    --chart-tiktok: 0 0% 13%;
    --chart-bukalapak: 350 85% 60%;
    --chart-lazada: 225 80% 50%;
    --chart-blibli: 205 90% 60%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 216 88% 53%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 275 87% 33%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 216 88% 53%;

    --chart-1: 216 88% 53%;
    --chart-2: 275 87% 33%;
    --chart-3: 160 60% 45%;
    --chart-4: 30 80% 55%;
    --chart-5: 262 72% 66%;

    --chart-shopee: 15 90% 55%;
    --chart-tokopedia: 100 55% 50%;
    --chart-tiktok: 0 0% 13%;
    --chart-bukalapak: 350 85% 60%;
    --chart-lazada: 225 80% 50%;
    --chart-blibli: 205 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    